<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="How" icon-off="ion-help-circled" icon-on="ion-help-circled" ui-sref="2tab.how-who({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-how-who"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Where" icon-off="ion-share" icon-on="ion-share" ui-sref="2tab.where-contact({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-where-contact"></ion-nav-view>
  </ion-tab>

</ion-tabs>
