<ion-view view-title="Hamara Internet">
  <ion-content>
    <button ui-sref="category" ui-sref-active="active">{{content.english[0].categoryName}}</button>
    <button ui-sref="category" ui-sref-active="active">Button 2</button>
    <button ui-sref="category" ui-sref-active="active">Button 3</button>
    <button ui-sref="category" ui-sref-active="active">Button 4</button>
    <button ui-sref="category" ui-sref-active="active">Button 5</button>
    <button ui-sref="category" ui-sref-active="active">Button 5</button>
    <button ui-sref="category" ui-sref-active="active">Button 7</button>
    <button ui-sref="category" ui-sref-active="active">Button 8</button>
    <button ui-sref="category" ui-sref-active="active">Button 9</button>
  </ion-content>
</ion-view>
