<ion-view hide-nav-bar="true" class="green-with-buttons">
  <ion-content>
    <img src="img/logo.png"/>
    <div class="button-container flex-those-boxes">
      <button ui-sref="categories" ui-sref-active="active">Hamara Internet<span class="small">(in English)</span></button>
      <button ui-sref="categories" ui-sref-active="active">ہمارا انٹرنیٹ<span class="small">(ان اردو)</span></button>
    </div>
    <div class="orgs flex-those-boxes">
      <a href="http://digitalrightsfoundation.pk/" target="_blank"><img src="img/drf.jpg"/></a>
      <a href="https://hamarainternet.org/" target="_blank"><img src="img/hamara.jpg"/></a>
      <a href="http://www.makingallvoicescount.org/" target="_blank"><img src="img/mavc.jpg"/></a>
    </div>
  </ion-content>
</ion-view>
