<ion-view hide-nav-bar="true" class="green-with-buttons">
  <ion-content>
    <img src="#" height="100px" width="100%"/>
    <div class="button-container">
      <button ui-sref="main" ui-sref-active="active">Hamara Internet<span class="small">(in English)</span></button>
      <button ui-sref="main" ui-sref-active="active">ہمارا انٹرنیٹ<span class="small">(ان اردو)</span></button>
    </div>
    <img src="#" height="100px" width="30%"/>
    <img src="#" height="100px" width="30%"/>
    <img src="#" height="100px" width="30%"/>
  </ion-content>
</ion-view>
