<ion-view class="green-with-buttons" view-title=''>
  <ion-content>
    <img src="img/logo.png"/>
    <div class="button-container flex-those-boxes">
      <button onclick="setLang('en');" ui-sref="categories" ui-sref-active="active">Hamara Internet<span class="small">(in English)</span></button>
      <button onclick="setLang('pk');" ui-sref="categories" ui-sref-active="active">ہمارا انٹرنیٹ<span class="small">(ان اردو)</span></button>
    </div>
    <div class="orgs flex-those-boxes">
      <a onclick="window.open('http://digitalrightsfoundation.pk/', '_blank', 'location=yes'); return false;"><img src="img/drf.jpg"/></a>
      <a onclick="window.open('https://hamarainternet.org/', '_blank', 'location=yes'); return false;"><img src="img/hamara.jpg"/></a>
      <a onclick="window.open('http://www.makingallvoicescount.org/', '_blank', 'location=yes'); return false;"><img src="img/mavc.jpg"/></a>
    </div>
  </ion-content>
</ion-view>
