<ion-view view-title="{{cTitle}} {{cId}}" class="subcategory-menu">
  <ion-content>
    <div ng-repeat="subcat in subcats" ng-switch on="cId">
      <a ng-switch-when="report" ui-sref="2tab.how-who({catid: cId, subcatid: subcat.sId})"
      ui-sref-active="active">
            <span class="title">{{subcat.sTitle}}</span>
            <span class="intro">{{subcat.how}}</span>
      </a>
      <a ng-switch-default ui-sref="4tab.problem({catid: cId, subcatid: subcat.sId})"
      ui-sref-active="active">
            <span class="title">{{subcat.sTitle}}</span>
            <span class="intro">{{subcat.problem}}</span>
      </a>
  </div>
  </ion-content>
</ion-view>
