<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Problem" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="4tab.problem({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-problem"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Solution" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="4tab.solution({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-solution"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tips" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="4tab.tips({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Resources" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="4tab.resources({catid: $rootScope.chosenCat, subcatid: $rootScope.chosenSubcat})" ui-sref-active="active">
    <ion-nav-view name="tab-resources"></ion-nav-view>
  </ion-tab>

</ion-tabs>
