<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Problem" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menu/online/doxing/problem">
    <ion-nav-view name="tab-problem"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Solution" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/menu/online/doxing/solution">
    <ion-nav-view name="tab-solution"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tips" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menu/online/doxing/tips">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Resources" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menu/online/doxing/resources">
    <ion-nav-view name="tab-resources"></ion-nav-view>
  </ion-tab>

</ion-tabs>
